# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Poetry specific files
.cache/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest
.coverage
htmlcov/
*.cover
.cache
nosetests.xml
coverage.xml
*.log
pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS specific files
.DS_Store

# Editor files
.vscode/
.idea/
*.swp
*~
.history/

# Pycharm files
*.iml
.idea/

# Formatting tools
.ruff_cache/